In [1]:
#from google.colab import drive
#drive.mount('./MyDrive')

Mounted at ./MyDrive

In [2]:
#cd /content/MyDrive/My Drive/energy_data/2021DV

/content/MyDrive/My Drive/energy_data/2021DV

In [1]:
# Ignore the warnings
import warnings
# warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

# System related and data input controls
import os

# Data manipulation and visualization
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = 10
pd.options.display.max_columns = 20
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Modeling algorithms
# General
import statsmodels.api as sm
from scipy import stats

# Model selection
from sklearn.model_selection import train_test_split

# Evaluation metrics
# for regression
from sklearn.metrics import mean_squared_log_error, mean_squared_error,  r2_score, mean_absolute_error

In [2]:
df = pd.read_excel('RRMSE_0622238149 _20210721_31840.xlsx', sheet_name='계량정보데이터')

In [3]:
df=df.drop(['일자'],axis=1)
df=df.drop(['Unnamed: 26'],axis=1)
df = df.dropna()
df=df.reset_index(drop=True,inplace=False)

In [4]:
df.columns=['날짜','1:00','2:00','3:00','4:00','5:00','6:00','7:00','8:00','9:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00','24:00']

In [24]:
raw_all=pd.melt(df,id_vars=['날짜'])
raw_all.columns=['날짜','시간','kwh']

In [54]:
raw_all.columns

Index(['시간', 'kwh'], dtype='object')

In [44]:
raw_all.describe().T

       count   unique      top freq
시간      2040       24    10:00   85
kwh 2,040.00 1,676.00 3,771.36 4.00

In [45]:
raw_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2040 entries, 2021-03-22(월) to 2021-07-20(화)
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시간      2040 non-null   object
 1   kwh     2040 non-null   object
dtypes: object(2)
memory usage: 47.8+ KB

In [39]:
raw_all.describe(include='all').T

       count   unique      top freq
시간      2040       24    10:00   85
kwh 2,040.00 1,676.00 3,771.36 4.00

In [26]:
if 'datetime' in raw_all.columns:
    raw_all['날짜'] = pd.to_datetime(raw_all['날짜'])
    raw_all['날짜'] = pd.to_datetime(raw_all['날짜'])
raw_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2040 entries, 0 to 2039
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      2040 non-null   object
 1   시간      2040 non-null   object
 2   kwh     2040 non-null   object
dtypes: object(3)
memory usage: 47.9+ KB

In [27]:
# set index as datetime column
if raw_all.index.dtype == 'int64':
    raw_all.set_index('날짜', inplace=True)
raw_all
# bring back
# if raw_all.index.dtype != 'int64':
#     raw_all.reset_index(drop=False, inplace=True)
# raw_all

                  시간      kwh
날짜
2021-03-22(월)   1:00 3,188.64
2021-03-23(화)   1:00 3,226.56
2021-03-24(수)   1:00 3,193.44
2021-03-25(목)   1:00 3,089.76
2021-03-26(금)   1:00 3,208.32
...              ...      ...
2021-07-14(수)  24:00 5,253.60
2021-07-15(목)  24:00 5,210.40
2021-07-16(금)  24:00 4,821.12
2021-07-19(월)  24:00 5,117.28
2021-07-20(화)  24:00 5,113.92

[2040 rows x 2 columns]

In [36]:
raw_all

                  시간      kwh
날짜
2021-03-22(월)   1:00 3,188.64
2021-03-23(화)   1:00 3,226.56
2021-03-24(수)   1:00 3,193.44
2021-03-25(목)   1:00 3,089.76
2021-03-26(금)   1:00 3,208.32
...              ...      ...
2021-07-14(수)  24:00 5,253.60
2021-07-15(목)  24:00 5,210.40
2021-07-16(금)  24:00 4,821.12
2021-07-19(월)  24:00 5,117.28
2021-07-20(화)  24:00 5,113.92

[2040 rows x 2 columns]

In [29]:
raw_all.describe(include='all').T

       count   unique      top freq
시간      2040       24    10:00   85
kwh 2,040.00 1,676.00 3,771.36 4.00

In [31]:
# set index as datetime column
if raw_all.index.dtype == 'int64':
    raw_all.set_index('DateTime', inplace=True)
raw_all

                  시간      kwh
날짜
2021-03-22(월)   1:00 3,188.64
2021-03-23(화)   1:00 3,226.56
2021-03-24(수)   1:00 3,193.44
2021-03-25(목)   1:00 3,089.76
2021-03-26(금)   1:00 3,208.32
...              ...      ...
2021-07-14(수)  24:00 5,253.60
2021-07-15(목)  24:00 5,210.40
2021-07-16(금)  24:00 4,821.12
2021-07-19(월)  24:00 5,117.28
2021-07-20(화)  24:00 5,113.92

[2040 rows x 2 columns]

In [23]:
raw_all.asfreq('kwh')[raw_all.asfreq('kwh').isnull().sum(axis=1) > 0]

ValueError: Invalid frequency: kwh

In [ ]:
## 우리 동네 기상 예보

In [6]:
import urllib
import urllib.request
import json

In [10]:
ServiceKey = open('ServiceKey', 'r').read()

FileNotFoundError: [Errno 2] No such file or directory: 'ServiceKey'

In [12]:
url = 'http://apis.data.go.kr/1360000/VilageFcstInfoService/getVilageFcst'

queryParams = '?' + urllib.parse.urlencode(
    {
        urllib.parse.quote_plus('ServiceKey') : ServiceKey, # key를 바로 입력해도 됩니다.
        urllib.parse.quote_plus('numOfRows') : '113', # 총 14개의 항목을 3시간 단위로 순차적으로 불러옵니다. 다음날 24시간예보에 필요한 만큼만 가져왔습니다.
        urllib.parse.quote_plus('dataType') : 'JSON', # JSON, XML 두가지 포멧을 제공합니다.
        urllib.parse.quote_plus('base_date') : '20210420', # 예보 받을 날짜를 입력합니다. 최근 1일간의 자료만 제공합니다.
        urllib.parse.quote_plus('base_time') : '1400', # 예보 시간을 입력합니다. 2시부터 시작하여 3시간 단위로 입력 가능합니다.
        urllib.parse.quote_plus('nx') : '102', # 울산 태양광 발전소 x 좌표입니다. '기상청18_동네예보 조회서비스_오픈API활용가이드.zip'에 포함 된 excel파일을 통해 확인 가능합니다.
        urllib.parse.quote_plus('ny') : '83' # 울산 태양광 발전소 y 좌표입니다. '기상청18_동네예보 조회서비스_오픈API활용가이드.zip'에 포함 된 excel파일을 통해 확인 가능합니다.
    }
)

response = urllib.request.urlopen(url + queryParams).read()
response = json.loads(response)

NameError: name 'ServiceKey' is not defined

In [ ]:
fcst_df = pd.DataFrame()
date = '2021-04-21'
fcst_df['Forecast_time'] = [f'{date} {hour}:00' for hour in range(24)]
row_idx = 0

for i, data in enumerate(response['response']['body']['items']['item']):
    if i > 19:
        if data['category']=='REH':
            fcst_df.loc[row_idx, 'Humidity'] = float(data['fcstValue'])
            print('category:Humidity,',data['category'], 'baseTime:',data['baseTime'], ', fcstTime:', data['fcstTime'], ', fcstValue:', data['fcstValue'])
        elif data['category']=='T3H':
            fcst_df.loc[row_idx, 'Temperature'] = float(data['fcstValue'])
            print('category:Temperature,',data['category'], 'baseTime:',data['baseTime'], ', fcstTime:', data['fcstTime'], ', fcstValue:', data['fcstValue'])
        elif data['category']=='SKY':
            fcst_df.loc[row_idx, 'Cloud'] = float(data['fcstValue'])
            print('category:Cloud,',data['category'], 'baseTime:',data['baseTime'], ', fcstTime:', data['fcstTime'], ', fcstValue:', data['fcstValue'])
        elif data['category']=='VEC':
            fcst_df.loc[row_idx, 'WindDirection'] = float(data['fcstValue'])
            print('category:WindDirection,',data['category'], 'baseTime:',data['baseTime'], ', fcstTime:', data['fcstTime'], ', fcstValue:', data['fcstValue'])
        elif data['category']=='WSD':
            fcst_df.loc[row_idx, 'WindSpeed'] = float(data['fcstValue'])
            print('category:WindSpeed,',data['category'], 'baseTime:',data['baseTime'], ', fcstTime:', data['fcstTime'], ', fcstValue:', data['fcstValue'], '\n')
            row_idx+=3

In [ ]:
fcst_df = fcst_df.interpolate()
fcst_df = fcst_df.iloc[:24]